#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.container-grid {
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-row-gap: 10px;
}
